<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="data source=localhost;Initial Catalog=cumulo.ninja;Integrated Security=SSPI"/>
    <add name="AppLogs" connectionString="data source=localhost;Initial Catalog=cumulo.ninja.app_logs;Integrated Security=SSPI"/>
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Local" />
  </appSettings>
</configuration>