<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Default" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="data source=localhost;Initial Catalog=cumulo.ninja;Integrated Security=SSPI"/>
    <add name="AppLogs" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="data source=localhost;Initial Catalog=cumulo.ninja.app_logs;Integrated Security=SSPI"/>
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="Environment" value="Local" />
  </appSettings>
</configuration>